@use "@/assets/sass/mixins" as *;

.add-product {
	margin-top: 47px;
	.title {
		color: get(primary);
		font-size: 2rem;
		text-align: center;
		margin-bottom: 1rem;
	}
	.wrapper {
		padding: 10px;
		max-width: 600px;
		margin: auto;

		input {
			background-color: get(lightWhite);
			width: 100%;
			padding: 10px;
			font-size: 1rem;
			border-radius: 10px;
			margin-bottom: 20px;
			&:disabled {
				background-color: #d3d3d3 !important;
			}
		}

		.field-label {
			color: get(primary);
			font-weight: bold;
		}
		.file {
			text-align: center;
			width: 180px;
			margin: auto;
			input {
				background-color: get(white);
			}
			label {
				background-color: get(lightWhite);
				width: 120px;
				height: 120px;
				display: block;
				border-radius: 50%;
				overflow: hidden;
				margin: auto;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		.submit-btn {
			width: 100%;
			font-size: 1.3rem;
			font-weight: bold;
		}
	}
}

.update-product {
	@extend .add-product;
	label {
		color: get(primary);
		font-weight: bold;
	}
}

.get-product {
	.title {
		color: get(primary);
		font-size: 2rem;
		text-align: center;
		margin-bottom: 1rem;
	}
	.wrapper {
		padding: 10px;
		max-width: 600px;
		margin: auto;
		label {
			color: get(primary);
			font-weight: bold;
		}
		.file {
			background-color: get(lightWhite);
			width: 120px;
			height: 120px;
			display: block;
			border-radius: 50%;
			overflow: hidden;
			margin: auto;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.field {
			background-color: get(lightWhite);
			width: 100%;
			padding: 10px;
			font-size: 1rem;
			border-radius: 10px;
			margin-bottom: 20px;
		}
		.controllers {
			text-align: center;
			margin-top: 1rem;
			.edit-btn {
				background-color: yellow;
				padding: 5px 15px;
				font-size: 1.3rem;
				display: inline-block;
				margin: auto;
				border-radius: 8px;
				box-shadow: 0 0 5px rgba(black, 0.3);
				&:hover {
					background-color: rgba(yellow, 0.5);
				}
			}
			.sale-btn {
				@extend .edit-btn;
				background-color: green;
				color: get(white);
				margin-right: 10px;
				&:hover {
					background-color: rgba(green, 0.5);
				}
			}
		}
	}
	.sale-product {
		@include fixed(tl, 20%, 50%);
		background-color: get(white);
		width: 90%;
		max-width: 400px;
		padding: 15px;
		border-radius: 10px;
		box-shadow: get(shadow);
		transform: translate(-50%, -20%);
		z-index: 1;
		.sale-title {
			color: get(primary);
			text-align: center;
		}
		input {
			background-color: get(lightWhite);
			width: 100%;
			padding: 10px;
			margin-block: 10px;
			font-size: 1rem;
			border-radius: 10px;
			margin-bottom: 20px;
			&:disabled {
				background-color: #d3d3d3 !important;
			}
		}
		button {
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
	.overlay {
		@include fixed(tl, 0, 0);
		background-color: rgba(black, 0.5);
		width: 100%;
		height: 100%;
	}
}
