:root {
	--primary: #930e84;
	--secondary: #00a8ff;

	--white: #fff;
	--black: #000;

	--dimWhite: #6b7688;
	--dimBlack: #030303;

	--lightWhite: #f3f3f3;
	--lightBlack: #46364a;

	--border: 1px solid var(--dimWhite);
	--shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
